* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .search-container {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .search-container input[type='text'] {
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-container button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .sort-container button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .table-container {
    margin-top: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #000;
    color: #fff;
  }
  
  td img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  